<footer>
        <img class="footer-image" src="../../../assets/images/nfl-logo-0.png" alt="logo">
        <p class="footer-text">© 2021 NFL Enterprises LLC. NFL and the NFL 
            shield design are registered trademarks of 
            the National Football League.The team names,
             logos and uniform designs are registered 
             trademarks of the teams indicated. All 
             other NFL-related trademarks are trademarks 
             of the National Football League. 
             NFL footage © NFL Productions LLC.</p>
        <ul>
            <li>PRIVACY POLICY</li>
            <li>TERMS OF SERVICE</li>
        </ul>
</footer>
