$header-color: rgb(42, 42, 90);
$body-color: rgb(193, 192, 247);
$footer-color: rgb(39, 39, 97);
$div-team-color: grey;
$header-text-color: white;
$header-text-border: orange;
$normal-text-color: black;
$button-color: darkblue;
