@font-face {
    font-family: 'be_vietnam';
    src: url('../assets/fonts/Be_Vietnam/BeVietnam-Bold.ttf');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: 'be_vietnam';
    src: url('../assets/fonts/Be_Vietnam/BeVietnam-Regular.ttf');
    font-weight: 500;
    font-style: regular;
}

@font-face {
    font-family: 'be_vietnam';
    src: url('../assets/fonts/Be_Vietnam/BeVietnam-ExtraBold.ttf');
    font-weight: 500;
    font-style: extrabold;
}

@font-face {
    font-family: 'cambay';
    src: url('../assets/fonts/Cambay/Cambay-Regular.ttf');
    font-weight: 500;
    font-style: regular;
}

@font-face {
    font-family: 'muktamalar';
    src: url('../assets/fonts/Mukta_Malar/MuktaMalar-Bold.ttf');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: 'muktamalar';
    src: url('../assets/fonts/Mukta_Malar/MuktaMalar-Light.ttf');
    font-weight: 500;
    font-style: light;
}

@font-face {
    font-family: 'racingonesans';
    src: url('../assets/fonts/Racing_Sans_One/RacingSansOne-Regular.ttf');
    font-weight: 500;
    font-style: regular;
}