@import '../../../styles/colors';

header {
    background-color: $header-color;
    height: 100px;
    color: $div-team-color;
    display: flex;
    nav {
        padding: 0 10%;
        .header-list {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li {
                cursor: pointer;
                text-transform: uppercase;
                font-size: x-large;
                font-weight: 600;
            }
        }
    }
}