@import '../../../../styles/colors';

.team-class {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
    
    
    ul {
        background-color: transparent;
        border-radius: 6px;
        border: 12px solid white;
        text-align: center;
        max-width: 380px;
        margin: 20px auto;
        img {
            width: 100%;
            
            
        }
    }
}