@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.home-class {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    ul {
        max-width: 380px;
        margin: 20px auto;
        background: $header-text-color;
        border: 5px solid $footer-color;
        border-radius: 10px;
        img {
            width: 90%;
            padding: 10px 20px;

        }

    }

}