@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.team_container {
    background-color: $div-team-color;
    .team_container-location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 6px;
        .team_container-text {
            margin: auto 6px;
        }
        .team_container-state {
            font-weight: bold;
        }
    }
    
}


.team_container-name {
    font-family: 'pressstart2p';
    font-style: regular;
    font-size: large;
    margin: 10px auto;

}

.team_container-conference {
    font-family: 'cambay';
    font-style: regular;   
}

.team_container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .team_container-venue {
        font-family: 'racingonesans';
        font-style: regular;
        margin: auto 5px;
    }
}

