<ng-container *ngIf="registerForm">
    <div class="container">
        <form class="form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <fieldset class="form__item">
                <label for="name">Name and surname:</label>
                <input type="text" id="name" formControlName="name" />
                <div *ngIf="!registerForm.get('name')!.valid &&
                (registerForm.get('name')!.dirty || submitted)">
                    <p>Introduce un nombre.</p>
                </div>
            </fieldset>
            <fieldset class="form__item">
                <label for="password">Password:</label>
                <input type="text" id="password" formControlName="password" />
                <div *ngIf="!registerForm.get('password')!.valid &&
                (registerForm.get('password')!.dirty || submitted)">
                    <p>Introduce una contraseña válida.</p>
                </div>
            </fieldset>
            <fieldset class="form__item">
                <label for="repeatPassword">Repeat the password:</label>
                <input type="text" id="repeatPassword" formControlName="repeatPassword" />
                <div *ngIf="!registerForm.get('repeatPassword')!.valid &&
                (registerForm.get('repeatPassword')!.dirty || submitted)">
                    <p>Las contraseñas deben coincidir.</p>
                </div>
            </fieldset>
            <fieldset class="form__item">
                <label for="email">E-mail:</label>
                <input type="email" id="email" formControlName="email" />
                <div *ngIf="!registerForm.get('email')!.valid &&
                (registerForm.get('email')!.dirty || submitted)">
                    <p>Introduce un email válido.</p>
                </div>
            </fieldset>
            <fieldset class="form__item">
                <label for="phone">Phone:</label>
                <input type="phone" id="phone" formControlName="phone" />
                <div *ngIf="!registerForm.get('phone')!.valid &&
                (registerForm.get('phone')!.dirty || submitted)">
                    <p>Introduce un teléfono válido.</p>
                </div>
            </fieldset>
            <button class="btn-style" (click)="onSubmit()">Send</button>
        </form>
    </div>
</ng-container>
