@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.form{
    display: flex;
    flex-direction: column;
    padding:10px;
    border: solid;
    border-width: 5px;
    border-color: lightblue;
    border-radius: 10px;
    background-color:$body-color;
    opacity: 0.8;
    box-shadow: 0px 0px 30px lightblue;
    max-width: 380px;
    margin: 20px auto;
    &__item{
        border:none;
        display:flex;
        flex-direction: column;
        label{
            font-family: 'be_vietnam';
            font-style: light;
        }
        div{
            p{
                font-family: 'main__text';
                color: black;
                font-size: 12px;
            }
        }
    }
}


.btn-style {
    justify-self: center;
    align-self: center;
    margin-top:10px;
    padding: 4px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $header-text-color;
    background-color: $header-color;
    color: $header-text-color;
    font-family: 'cambay';
    font-style: regular;

}