/* You can add global styles to this file, and also import other style files */
@import './styles/colors';
@import './styles/fonts';
@import './styles/responsive';

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url(https://i.pinimg.com/originals/ee/f5/c4/eef5c41053254b9d940fcf7640580f90.jpg)
}

